{{template "header"}}

<main class="container">
  <h1>Crear Cliente</h1>

  <div class="row">
    {{if ne .css ""}}
    <div class="alert alert-{{.css}} alert-dismissible fade show">
      {{.message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{end}}
    <form action="/mysql/create-post" method="POST">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Ej: Clarkencio" required />
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input type="text" id="correo" name="correo" class="form-control" placeholder="Clarkencio@smallville.com" required />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="4232323" required />
      </div>
      <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </form>
  </div>
</main>

{{template "footer"}}